<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Frostgrave API</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/create">Create New Wizard</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/documentation">Docs</a></li>
        </ul>
      </nav>
    </header>
    <main><%- include(contentEJS) %></main>
    <footer>
      <p>Copyright &copy; Jung 2025</p>
    </footer>
  </body>
</html>
